<ul class="nav justify-content-center border-bottom pb-3 mb-3">
  <li class="nav-item"><a href="{{ url_for('main.index') }}" class="nav-link px-2">Главная</a></li>
  <li class="nav-item"><a href="{{ url_for('note.create_note') }}" class="nav-link px-2">Создать конспект</a></li>
  <li class="nav-item"><a href="#" class="nav-link px-2">Избранное</a></li>
  <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
  <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
</ul>
<p class="text-center">© 2025 КонспектРум</p>