/* Fonts Montserrat */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('..fonts/Montserrat/Montserrat-Regular.ttf')
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf')
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/FontAwesome.oft');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/FontAwesome-webfont.eot');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/FontAwesome-webfont.ttf');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/FontAwesome-webfont.woff');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/FontAwesome-webfont.woff2');
}